<p id="notice"><%= notice %></p>

<p>
  <b>Curso:</b>
  <%= @matricula.curso %>
</p>

<p>
  <b>Estudiante:</b>
  <%= @matricula.estudiante %>
</p>


<%= link_to 'Edit', edit_matricula_path(@matricula) %> |
<%= link_to 'Back', matriculas_path %>
